ffmpeg-python
Pillow==9.5.0
ujson
wget 
search_engine_parser
python-arq
youtube_dl
youtube_search_python 
py-tgcalls==0.9.7
pyrogram
python-dotenv
motor
pillow
aiohttp
aiofiles
requests
pyromod
pymongo
psutil
emoji
tglogging
TgCrypto
